<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form method="post" action="/register">
        <input type="name" name="name" label="Name">
        <input type="email" name="email" label="Email">
        <input type="password" name="password" label="Passord">
        <button >Register</button>
    </form>
   
</body>
</html>